{% extends 'base.html' %}

{% block title %}
  lista empelados por departamento
{% endblock title %}

{% block content %}
  {% include "includes/header.html" %}

  <div class="grid-container">
      <div class="grid-x">
        <div class="cell">Empelados por area:</div>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                    <th width="200">ID</th>
                    <th>NOMBRES</th>
                    <th width="150">APELLIDOS</th>
                    <th width="150">DEPARTAMENTO</th>
                    <th width="150">ACCION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in empleados %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.first_name }}</td>
                        <td>C{{ e.last_name }}</td>
                        <td>{{ e.departamento }}</td>
                        <td><a class="button warning" href="{% url 'persona_app:empleado_detail' e.id %}">Ver</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
  </div>


{% endblock content %}

<h1>Lista empelados por departamento</h1>

<ul>
    
    {% for e in object_list  %}
        <li>{{ e }}</li>
    {% endfor %}
        
</ul>