{% extends 'base.html' %}

{% block title %}
  Lista departamentos
{% endblock title %}

{% block content %}
  {% include "includes/header.html" %}

  <div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Departamentos</h1>
        <div class="cell">
            <table>
                <tbody>
                    {% for departamento in departamentos %}
                    <tr>
                        <td>{{ departamento.name }}</td>
                        <td>{{ departamento.shor_name }}</td>
                        <td>
                            <a class="button warning" href="{% url 'persona_app:emplados_area' departamento.shor_name %}">Ver Empleados</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
{% endblock content %}