{% extends 'base.html' %}

{% block title %}
  Registrar Departamento
{% endblock title %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Regitrar Departamento</h1>
        <form class="cell callout grid-x grid-margin-x" method="POST">{% csrf_token %}
            <div class="medium-6 cell">
                <label>Nombres:
                  {{form.nombre}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>apellidos
                    {{form.nombre}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>departamento
                    {{form.nombre}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>shorname
                    {{form.nombre}}
                </label>
            </div>
            <div class="medium-12 cell">
                <button type="submit" class="button">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}